.button {
  background: #ee007a;
  border-radius: 28px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  margin: 0 10%;
  padding: 16px 0;
  width: 80%;
}
