.container {
  align-items: start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 72px 48px;
}

.to {
  background: #F0F0F0;
}

.from {
  background: #FFFFFF;
}

.currency {
  font-size: 36px;
  margin-bottom: 12px;
}
